<h1>Password Reset </h1>
<% if (typeof error !== "undefined") { %>
    <h3 style="color: red;"><%= error %></h3>
<% } %>

<form action="/API/reset-password?token=<%= userPasswordResetData.token %>" method="post">
    <input type="hidden" name="user_id" value="<%= userPasswordResetData._id  %>">
    <input type="password" name="password" required placeholder="New Password">
    <br></br>
    <input type="password" name="c_password" required placeholder="Confirm New Password">
    <br></br>
    <input type="submit" value="Reset Password">
</form> 